@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OmBotak;
  src: url(./fonts/OmBotak.ttf);
}

/* @font-face {
  font-family: TangoSans;
  src: url(./fonts/TangoSans.ttf);
}

@font-face {
  font-family: TangoSansBold;
  src: url(./fonts/TangoSans_Bold.ttf);
} */

/* Brand */
.brand {
  @apply font-['OmBotak'];
}

/* Titles */
h1 {
  @apply text-5xl brand text-violet-800 text-center;
}

h2 {
  @apply text-3xl text-center;
}

h3 {
  @apply text-2xl;
}

/* Main */
body {
  @apply font-sans;
}

.content {
  @apply max-w-screen-lg mx-auto px-4 py-14 grid grid-cols-1 gap-6;
}
