@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OmBotak;
  src: url(./fonts/OmBotak.ttf);
}

/* Brand */
.brand {
  @apply font-['OmBotak'];
}

/* Titles */
h1 {
  @apply text-5xl brand text-violet-600 text-center;
}

h2 {
  @apply text-3xl text-center font-semibold text-gray-900;
}

h3 {
  @apply text-2xl;
}

h6 {
  @apply text-lg text-center text-gray-700;
}

/* Main */
body {
  @apply font-sans;
}

.content {
  @apply max-w-screen-lg mx-auto px-4 py-14 grid grid-cols-1 gap-8;
}

html {
  scroll-behavior: smooth;
}
